In [201]:
import pandas as pd
import numpy as np

import pdb

from sklearn.model_selection import KFold

In [2]:
# read in the training and test tables
train = pd.read_csv('../data/application_train.csv')
test = pd.read_csv('../data/application_test.csv')

In [3]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [178]:
list(train.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [261]:
class CategoryEncoder(object):
    
    @staticmethod
    def _to_hashable(X):
        """
        Given a 2D numpy array, convert it into a 1D numpy array
        by converting the elements into strings and joining with an underscore. 
        This makes each combination of several features hashable. 
        
        input:
            X: numpy 2D array
        """
        # make sure X is a 2D array
        try:
            assert len(X.shape) == 2
        except AttributeError:
            # X is not a numpy array 
            raise ValueError("Input must be numpy array-like, with `shape` attribute.")
        # reformat and return
        X_hashable = np.apply_along_axis(lambda row: "_".join(str(e) for e in row),
                                         axis = 1, arr = X)
        return(X_hashable)

    @classmethod
    def _validate_input(cls, X_train, X_test, y_train):
        """
        Validate that X_train and X_test have the same shape, and
        that they are either 1D or 2D nd-array types. 
        Convert X_train and X_test to 2D arrays, and y_train to 1D array. 
        
        input:
            - X_train: Numpy Nd-Array
            - X_test:  Numpy Nd-Array
            - y_train: Numpy Nd-Array, numeric data type
        
        returns:
            - X_train_transformed: reshaped version of X_train
            - X_test_transformed:  reshaped version of X_test
            - y_train_transformed: reshaped version of y_train
            
        raises:
            - ValueError Exception
        """
        try:
            # validate that X_train and X_test have the same shape
            if (X_train.shape != X_test.shape):
                raise ValueError("`X_train` and `X_test` must have the same shape")
        except AttributeError:
            """
            If X_train or X_test don't have the `shape` attribute, then one or both
            of the inputs are not numpy array-like
            """
            raise ValueError("Input must be numpy array-like, with `shape` attribute.")
        # validate that input are of maximum 2 dimensions for X
        if (len(X_train.shape) > 2):
            raise ValueError("X input shape should be of maximum 2 dimensions")
            
        # validate that y input can be represented as a numeric 1D array
        try:
            y_flattented = y_train.reshape(-1).astype(np.float32) # reshaped response
            if(len(y_flattented) != len(y_train)):
                raise ValueError("y_train should be able to be naturally represented as a 1D array.")
        except ValueError:
            raise ValueError("y_train must be of a datatype that can be converted to a numeric datatype naturally.")
        
        # Reshape X_train and X_test
        if(len(X_train.shape) == 2):
            # Convert 1D array to 1D array of hashable type
            X_train = cls._to_hashable(X_train)
            X_test = cls._to_hashable(X_test)
        
        # make sure X_train and y_train have the same length
        if(len(X_train) != len(y_flattented)):
            raise ValueError("X_train and y_train must have the same number of elements.")

        return(X_train,X_test,y_flattented)
    
    
    def _mean_encode_train(self, X_train, y_train, depth = 2, n_splits = 5, shuffle = True, random_state = 1):
        # base case - depth = 1
        if (depth == 1):
            # create a template for the mean encoded ouptput
            y_train_enc = np.repeat(-1.0,len(y_train))
            # iterate through the different folds
            kf = KFold(n_splits = n_splits, shuffle = shuffle, random_state = random_state)
            for train_index, test_index in kf.split(X_train):
                # compute the group means in the training folds
                train_means = pd.DataFrame({"group" : X_train[train_index], 
                                            "mean_target": y_train[train_index]}
                                          ).groupby("group", as_index = False).mean()

                # use group means to match each group with an encoding
                encoded_means = pd.DataFrame({"group": X_train[test_index]}).merge(train_means, how = "left")
                """
                Groups that do not appear in the train fold, but do in the test fold, 
                will have NA as that particular group mean. 
                As such, fill these NA values with the global mean for the target in 
                the train fold. 
                """
                encoded_means = encoded_means.fillna(encoded_means.mean_target.mean())
                # store the encoded means
                y_train_enc[test_index] = encoded_means.mean_target.values
            # return the encoded target
            return(y_train_enc)
        
        # Recurive step - if depth >= 2
        else:
            # create a template for the mean encoded ouptput
#             pdb.set_trace()
            y_train_enc = np.repeat(-1.0,len(y_train))
            # iterate through the different folds, encoding the training output fold by fold
            kf = KFold(n_splits = n_splits, shuffle = shuffle, random_state = random_state)
            for train_index, test_index in kf.split(X_train):
                y_train_enc[test_index] = self._mean_encode_train(X_train[test_index], 
                                            y_train[test_index], depth = depth - 1, n_splits = n_splits, 
                                            shuffle = shuffle, random_state = random_state)
            """
            Now, use the encoded ouptuts to 're-encode' the output again
            """
            # get a new k-fold object with a different seed, which will result in different splits
            kf = KFold(n_splits = n_splits, shuffle = shuffle, random_state = random_state + 1)
            # template for re-encoded output
            y_train_reencoded = np.repeat(-1.0,len(y_train))
            for train_index, test_index in kf.split(X_train):
                # compute the group means in the training folds
                train_means = pd.DataFrame({"group" : X_train[train_index], 
                                            "mean_target": y_train_enc[train_index]}
                                          ).groupby("group", as_index = False).mean()

                # use group means to match each group with an encoding
                encoded_means = pd.DataFrame({"group": X_train[test_index]}).merge(train_means, how = "left")
                # fill na's that result from groups in test fold that don't appear in training folds
                encoded_means = encoded_means.fillna(encoded_means.mean_target.mean())
                # store the encoded means
                y_train_reencoded[test_index] = encoded_means.mean_target.values
            return(y_train_reencoded)

In [275]:
smpl_train = train[["NAME_INCOME_TYPE", "TARGET"]].sample(1000, random_state = 1)
smpl_test = test[["NAME_INCOME_TYPE"]].sample(10, random_state = 1)

In [262]:
encoder = CategoryEncoder()

In [286]:
smpl_train["encoded_means"] = encoder._mean_encode_train(smpl_train.NAME_INCOME_TYPE.values, smpl_train.TARGET.values, 
                          depth = 2, n_splits = 5)

In [287]:
smpl_train.merge(smpl_train.groupby("NAME_INCOME_TYPE", as_index=False)['TARGET'].mean(), on="NAME_INCOME_TYPE")

    NAME_INCOME_TYPE  TARGET_x  encoded_means  TARGET_y
0          Pensioner         1       0.057392  0.059524
1          Pensioner         0       0.061867  0.059524
2          Pensioner         0       0.060141  0.059524
3          Pensioner         0       0.057392  0.059524
4          Pensioner         0       0.061867  0.059524
5          Pensioner         0       0.060141  0.059524
6          Pensioner         0       0.060141  0.059524
7          Pensioner         0       0.061867  0.059524
8          Pensioner         0       0.060141  0.059524
9          Pensioner         0       0.057392  0.059524
10         Pensioner         0       0.061867  0.059524
11         Pensioner         0       0.061867  0.059524
12         Pensioner         1       0.061867  0.059524
13         Pensioner         0       0.061867  0.059524
14         Pensioner         0       0.060640  0.059524
15         Pensioner         0       0.060141  0.059524
16         Pensioner         0       0.060141  0.059524
17         Pensioner         0       0.061867  0.059524
18         Pensioner         0       0.060569  0.059524
19         Pensioner         0       0.060141  0.059524
20         Pensioner         0       0.060141  0.059524
21         Pensioner         0       0.060141  0.059524
22         Pensioner         0       0.057392  0.059524
23         Pensioner         0       0.057392  0.059524
24         Pensioner         0       0.060569  0.059524
25         Pensioner         0       0.057392  0.059524
26         Pensioner         0       0.060141  0.059524
27         Pensioner         0       0.060569  0.059524
28         Pensioner         1       0.057392  0.059524
29         Pensioner         0       0.060640  0.059524
..               ...       ...            ...       ...
970    State servant         0       0.060607  0.057971
971    State servant         0       0.060607  0.057971
972    State servant         0       0.053378  0.057971
973    State servant         0       0.060607  0.057971
974    State servant         0       0.049936  0.057971
975    State servant         0       0.054065  0.057971
976    State servant         0       0.054065  0.057971
977    State servant         0       0.049764  0.057971
978    State servant         0       0.049936  0.057971
979    State servant         0       0.054065  0.057971
980    State servant         0       0.054065  0.057971
981    State servant         0       0.053378  0.057971
982    State servant         0       0.053378  0.057971
983    State servant         0       0.060607  0.057971
984    State servant         0       0.054065  0.057971
985    State servant         0       0.049764  0.057971
986    State servant         0       0.049764  0.057971
987    State servant         0       0.053378  0.057971
988    State servant         0       0.060607  0.057971
989    State servant         0       0.060607  0.057971
990    State servant         0       0.049936  0.057971
991    State servant         0       0.053378  0.057971
992    State servant         0       0.053378  0.057971
993    State servant         0       0.053378  0.057971
994    State servant         0       0.053378  0.057971
995    State servant         1       0.053378  0.057971
996    State servant         0       0.049764  0.057971
997    State servant         0       0.060607  0.057971
998    State servant         0       0.053378  0.057971
999    State servant         0       0.060607  0.057971

[1000 rows x 4 columns]

In [272]:
smpl_train.groupby("NAME_INCOME_TYPE", as_index=False)['TARGET'].mean()

       NAME_INCOME_TYPE    TARGET
0  Commercial associate  0.150000
1             Pensioner  0.117647
2         State servant  0.000000
3               Working  0.070175

In [268]:
smpl_train

            NAME_INCOME_TYPE  TARGET  encoded_means
64282              Pensioner       1       0.077381
94645                Working       0       0.065010
306349               Working       0       0.065010
258314               Working       0       0.065010
87597                Working       0       0.066616
27731              Pensioner       0       0.077381
284391               Working       1       0.066302
267734               Working       0       0.066616
238789               Working       0       0.066302
299374               Working       0       0.066302
188398               Working       0       0.066302
252746             Pensioner       0       0.077381
249037  Commercial associate       1       0.125000
294226               Working       0       0.065010
91317                Working       0       0.065010
219832  Commercial associate       0       0.129167
70781                Working       0       0.065010
1710                 Working       0       0.066302
195776         State servant       0       0.031313
143511               Working       0       0.066302
58721                Working       0       0.066616
101544             Pensioner       0       0.077381
162174               Working       0       0.066616
136550  Commercial associate       0       0.116667
58099              Pensioner       0       0.077381
140282               Working       0       0.065010
297174               Working       0       0.066302
80856              Pensioner       0       0.077381
11705   Commercial associate       0       0.116667
261406               Working       0       0.065010
...                      ...     ...            ...
267030               Working       0       0.066616
34911                Working       0       0.066302
52157          State servant       0       0.000000
286405             Pensioner       0       0.077381
302559               Working       0       0.065010
248808         State servant       0       0.000000
30064              Pensioner       1       0.077381
302243               Working       1       0.065010
70132              Pensioner       0       0.125000
17919                Working       0       0.065010
86285   Commercial associate       1       0.125000
136114         State servant       0       0.000000
2372                 Working       0       0.066616
201132               Working       0       0.065010
9604    Commercial associate       0       0.116667
298396               Working       0       0.066616
53669                Working       0       0.066302
149346               Working       0       0.066302
80058   Commercial associate       0       0.129167
80812   Commercial associate       0       0.125000
98186              Pensioner       0       0.125000
186757  Commercial associate       0       0.125000
114309             Pensioner       0       0.077381
111832             Pensioner       0       0.194444
262380               Working       0       0.066302
264327  Commercial associate       0       0.125000
11344   Commercial associate       0       0.125000
245463  Commercial associate       0       0.125000
172014               Working       0       0.066302
137037               Working       0       0.065010

[100 rows x 3 columns]

In [ ]:
train.join(test, how=)